<h1>Manage Categories<h1>

	<table>
	<tr>
	<td><%= link_to 'Expense Category', expense_categories_path%></td>

	</tr>
	<tr>
		<td><%= link_to 'Income Category', income_categories_path%></td>
	</tr>
		</table>